[build]
  command = "npm run build"
  publish = "build"
  base = "."

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/docs/*"
  to = "/docs/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200